<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="description" content=" Mutliservicio de Lujo, servicio de atulavado y atencion en general" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<title> 500 Autoservicio de Lujo</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/estilos.css">
	<link rel="shorcut icon" href="{{ STATIC_URL }}img/camaro.ico">

</head>
<body>
	<header id="header">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<a href="/">
					<h1 class="pull-left">AUTOSERVICIO DE LUJO</h1>
				</a>
			</div>	
		</div>

	</header>
	<section class="msj-error col-xs-12 col-sm-12 col-md-12">
		<h2>
			Lo Sentimos, Estamos trabajando para Solucionarlo
		</h2>
		<a href="/">Volver</a>
	</section>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>