{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}


    <div class="title">
      <h1>Bancos <i class="fa fa-university "></i></h1>
    </div>
    <div class="row mt-40">
      <div class="content-form col-lg-5 ">
          <div class="title-form bg-emp">
            <span>Agregar Banco</span>
            <i class="fa fa-university pull-right"></i>
          </div>

      <form action="" method="post" enctype="multipart/form-data" class="form border-emp">
          {% csrf_token %}

            {{ bancos_form |as_bootstrap }}

          <input type="submit" value="{{ value_boton }}" class="btn btn-primary">
      </form>

      </div>
      <div class="table-content border-emp col-lg-7">

          <table class="table table-hover">
            <thead>
               <th>Nombre</th>
               <th>Numero</th>
               <th>Acciones</th>
            </thead>
            <tbody>

            {% for banco in bancos %}

             <tr>
                <td>{{ banco.nombre }}</td>
                <td>{{ banco.numero }}</td>
                <td>
                  <span><a href= "{% url "editBancos" banco.pk %}"><i class="fa fa-pencil-square-o"></i></a></span>
                  <span><a  style="color: red" href= "{% url "deleteBancos" banco.pk %}"><i class="fa fa-trash-o"></i></a></span>
                </td>
              </tr>

            {% endfor %}

            </tbody>
          </table>
      </div>

    </div>
{% endblock %}