<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> Resumen de Nomina</title>
    <style>
	    .autolavado
			{
				margin: auto;
				text-align: center;
			}
			.rif
			{
				margin: auto;
				text-align: center;
			}
			.direccion
			{
				margin: auto;
				text-align: center;
			}
			.content{
		      font-family: 'Roboto Condensed', sans-serif;
		      width: 1024px;
		      margin: 0 auto;
	  		}
  	</style>
</head>
<body>
    <div class="content">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    	<span><strong>Fecha: </strong>{{fecha_hoy}}</span>
	   <!-- <div class="autolavado">
	    	<h1>
	    		AUTO SERVICIO DE LUJO
	    	</h1>
	    </div>
	    <div class="rif">
	    	<h2>
	    		RIF: J-40601576-8
	    	</h2>
	    </div>
	    <div class="direccion">
	    	<p>
	    		Carrera 4 con calles 4 y 5 Local Nro C 4-6 Sector Bella Vista Capacho Nuevo Táchira Venezuela.
	    	</p>
	    </div> -->

	    <div class="total_nomina">
	    	<span><strong>TOTAL NOMINA: </strong> {{acum_nomina}}</span>
	    </div>
	    <br>
	     <table style="  width: 100%;  text-align: center;">
	     	<span><strong>ASIGNACIONES <span>Del {{fecha_inicio}} al {{fecha_fin}}</span></strong></span>
	     	<thead>
	     		<tr>
	     			<th>Nombre</th>
	     			<th>Nº</th>
	     			<th>TOTAL</th>
	     		</tr>
	     	</thead>
	     	{% for dato in nomina %}
	    	<tbody>
	    		<tr>
	    			<td>
	    				{{dato.empleado.nombre}} {{dato.empleado.apellido}}
	    			</td>
	    			<td>
	    				{{dato.empleado.pk}}
	    			</td>
	    			<td>
	    				{{dato.total_pagar}}
	    			</td>
	    		</tr>
	    	</tbody>

	    	{%  endfor %}
	    </table>
	    
	    <br>

	    
	    <br>
	    <br>
	    <br>
	    <br>

	    {% if cestaticket != Null %}
			<table style="  width: 100%;  text-align: center;">
	     	<span><strong>CESTATICKETS CORRESPONDIENTES:</strong></span> <br>
	     	<span><strong> FECHA: {{fecha_inicio_c}} Al  {{fecha_fin_C}}</strong></span>
	     	<thead>
	     		<tr>
	     			<th>Nombre</th>
	     			<th>Nº</th>
	     			<th>D. Laborados</th>
	     			<th>D.no Laborados</th>
	     			<th>TOTAL</th>
	     		</tr>
	     	</thead>
	     	{% for dato in cestaticket %}
	    	<tbody>
	    		<tr>
	    			<td>
	    				{{dato.empleado.nombre}} {{dato.empleado.apellido}}
	    			</td>
	    			<td>
	    				{{dato.empleado.pk}}
	    			</td>
	    			<td>
	    				{{dato.dias_laborados}}
	    			</td>
	    			<td>
	    				{{dato.dias_nolaborados}}
	    			</td>
	    			<td>
	    				{{dato.total_pagar}}
	    			</td>
	    		</tr>
	    	</tbody>
	    	{%  endfor %}
	    </table>
	    
	    <br>

	    <span><strong>TOTAL PAGO CESTATICKETS: </strong>{{acum_cestaticket}} </span>
	    {% endif %}

	</div>
</body>
</html>