<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Quincena Número: {{quincena.pk}}</title>
    <style>
		.line{
			background: black;
			height: 1px;
			width: 300px;
			margin: auto;
		}
		.autolavado
		{
			margin: auto;
			text-align: center;
		}
		.rif
		{
			margin: auto;
			text-align: center;
		}
		.direccion
		{
			margin: auto;
			text-align: center;
		}
		.titulo_nomina
		{
			margin: auto;
			text-align: center;
		}
		.content{
	      font-family: 'Roboto Condensed', sans-serif;
	      width: 1024px;
	      margin: 0 auto;
  		}

    </style>
</head>
<body>
	<div class="content">
    <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
		<span><strong>Fecha: </strong>{{fecha_hoy}}</span>
	   <!-- <div class="autolavado">
	    	<h1>
	    		AUTO SERVICIO DE LUJO
	    	</h1>
	    </div>
	    <div class="rif">
	    	<h2>
	    		RIF: J-40601576-8
	    	</h2>
	    </div>
	    <div class="direccion">
	    	<p>
	    		Carrera 4 con calles 4 y 5 Local Nro C 4-6 Sector Bella Vista Capacho Nuevo Táchira Venezuela.
	    	</p>
	    </div> -->
	     <table style="  width: 100%;  text-align: center;">
	     	<thead>
	     		<tr>
	     			<th></th>
	     			<th></th>
	     		</tr>
	     	</thead>
	    	<tbody>
	    		<tr>
	    			<td>
	    				<div class="semana">
					    	<span><strong>Semana nro:</strong> {{quincena.numero_semana_1}}-{{quincena.numero_semana_2}}</span>
					    </div>
	    			</td>
	    			<td>
	    				<div class="quincena">
					    	<span><strong>Quincena nro: </strong>{{quincena.numero_quincena}}</span>
					    </div>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
	    
	    <br>
	    <div class="titulo_nomina">
	    	<span><strong>Nomina Quincenal Correspondiente:</strong></span>
	    </div>
	
		<table style="  width: 400px;  text-align: center;">
	     	<thead>
	     		<tr>
	     			<th></th>
	     			<th></th>
	     		</tr>
	     	</thead>
	    	<tbody>
	    		<tr>
	    			<td>
	    				<div class="fecha-del">
					    	<span><strong>DEL:</strong> {{quincena.fecha_inicio}}</span>
					    </div>
	    			</td>
	    			<td>
	    				<div class="fecha-al">
					    	<span><strong>AL:</strong> {{quincena.fecha_fin}}</span>
					    </div>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>

	    <br>

	    <table style="  width: 100%;  text-align: justify;">
	     	<thead>
	     		<tr>
	     			<th></th>
	     			<th></th>
	     		</tr>
	     	</thead>
	    	<tbody>
	    		<tr>
	    			<td>
	    				<div class="nombre">
					    	<span><strong>APELLIDOS Y NOMBRES: </strong>{{quincena.empleado.apellido}} {{quincena.empleado.nombre}}</span>
					    </div>
	    			</td>
	    			<td>
	    				<div class="cargo">
					    	<span><strong>CARGO: {{quincena.empleado.cargo}}</strong></span>
					    </div>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
	    <table style="  width: 100%;  text-align: justify;">
	     	<thead>
	     		<tr>
	     			<th></th>
	     			<th></th>
	     		</tr>
	     	</thead>
	    	<tbody>
	    		<tr>
	    			<td>
	    				<div class="cedula">
					    	<span><strong>CEDULA: {{quincena.empleado.cedula}}</strong></span>
					    </div>
	    			</td>
	    			<td>
	    				<div class="sueldo">
					    	<span><strong>SUELDO MENSUAL: {{quincena.empleado.sueldo_base}}</strong></span>
					    </div>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
	    
	    <br>
	    
	    <div class="dias">
	    	<span><strong>DIAS DEL MES: {{quincena.dias_mes}}</strong></span>
	    </div>
	    <br>
	    <br>

		<table style="  width: 100%;  text-align: center;">
			<thead style="background: rgb(35, 133, 161) none repeat scroll 0% 0%;">
		        <tr >
		            <th ><strong>CONCEPTO</strong></th>
		            <th ><strong></strong></th>
		            <th ><strong>ASIGNACIONES</strong></th>
		            <th ><strong>DEDUCCIONES</strong></th>
		            <th ><strong>TOTAL</strong></th>
		            <th ><strong>HUELLA DACTILAR</strong></th>
		        </tr>
		    </thead>

		    <tbody>

		        <tr>
		           	<td>
		           		DIAS LABORADOS: <br>
		           		Bonifiacion Especial 1: <br>
		           		Bonficacion Especial 2: <br>
		           		Dias de Descanso: <br>
		           		Dias Feriados: <br>
		           		<div class="line"></div>
		           		S.S.O: <br>
		           		S.P.F: <br>
		           		L.P.H: <br>
		           		Dias no Laborados: <br>
		           		Pestamos Personales: <br>
		           	</td>
		            <td>
		            	{{ quincena.dias_laborados }} <br>
		            	{{ quincena.bono1.valor }}<br>
		            	{{ quincena.bono2 }}<br>
		            	{{ quincena.dias_descanso }}<br>
		            	{{ quincena.dias_feriados }} <br>
		            	4% <br>
		            	0,50% <br>
		            	1%<br>
		            	{{ quincena.dias_no_laborados }} <br>
		            	{{ quincena.prestamos }} <br>
		            </td>
		            <td>
		            	{{ quincena.asignaciones_dia_laborado }} <br>
		            	{{ quincena.bono1_pagar }} <br>
		            	{{ quincena.bono2 }} <br>
		            	-- <br>
		            	{{ quincena.asignaciones_dia_feriado }} <br>
		            	-- <br>
		            	-- <br>
		            	-- <br>
		            	-- <br>
		            	-- <br>
		            </td>
		            <td>
		            	-- <br>
		            	-- <br>
		            	-- <br>
		            	-- <br>
		            	-- <br>
		            	{{ quincena.SSO }}  <br>
		            	{{ quincena.SPF }}<br>
		            	{{ quincena.LPH }} <br>
		            	-- <br>
		            	{{ quincena.prestamos }}<br>
		            </td>
		        </tr>
		           
		    </tbody> 
			<thead style="background: rgb(35, 133, 161) none repeat scroll 0% 0%;">
		        <tr>
		            <th ><strong>TOTALES</strong></th>
		            <th ><strong></strong></th>
		            <th ><strong>{{ quincena.total_asignaciones }}</strong></th>
		            <th ><strong>{{ quincena.total_deducciones }}</strong></th>
		            <th ><strong>{{ quincena.total_pagar }}</strong></th>
		            <th ><strong>FIRMA</strong></th>
		        </tr>
		    </thead>


		</table>
	</div>

</body>
</html>